{% extends 'selection.html' %}

{% block title %}addresses{% endblock %}



{% block content %}
 <div class="container">
  
        <div class="row center">
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data raleway-font" id="city">City</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="country_code">Country code</button>        
            <button type="button" class="btn btn-light height-btn data raleway-font" id="street_name">Street name</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="street_address">Street address</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="country">Country</button>
        </div>
    </div>
        <div class="input-container">
        <input id="generator" type="button" value="GENERATE">
    </div>
    <div class="input-container">
        <input id="number" type="number" placeholder="enter digit"> 
        <span>instances</span>
    </div>
{% endblock %}