{% extends 'selection.html' %}

{% block title %}colors{% endblock %}

{% block content %}

 <div class="container">
        <div class="row center">
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data raleway-font" id="color_name">Color name</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="color_hsl">Color hsl</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="color_hsv">Color hsv</button>
            <button type="button" class="btn btn-light height-btn data raleway-font" id="rgb_color">Color rgb</button>
        </div>
    </div>
    <div class="input-container">
        <input id="generator" type="button" value="GENERATE">
    </div>
    <div class="input-container">
        <input id="number" type="number" placeholder="enter digit"> 
        <span>instances</span>
    </div>
{% endblock %}