{% extends 'selection.html' %}

{% block title %}Company{% endblock %}

{% block content %}

 <div class="container">
        <div class="row center">
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn raleway-font data" id="company">Company</button>
            <button type="button" class="btn btn-light height-btn raleway-font data" id="job">Job</button>
        </div>
        </div>
    </div>
    <div class="input-container">
        <input id="generator" type="button" value="GENERATE">
    </div>
    <div class="input-container">
        <input id="number" type="number" placeholder="enter digit"> 
        <span>instances</span>
    </div>
{% endblock %}