{% extends 'selection.html' %}

{% block title %}addresses{% endblock %}

{% block content %}

 <div class="container text-center">
        <div class="row">
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="credit_card_expire">Credit card expire</button>
        </div>
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="credit_card_security_code">Credit card security code</button>
        </div>
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="credit_card_provider">Credit card provider</button>
        </div>
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="credit_card_number">Credit card number</button>
        </div>
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="credit_card_full">Credit card full</button>
        </div>
        </div>
    </div>
    <div class="input-container">
        <input id="generator" type="button" value="GENERATE">
    </div>
    <div class="input-container">
        <input id="number" type="number" placeholder="enter digit"> 
        <span>instances</span>
    </div>
{% endblock %}