{% extends 'selection.html' %}

{% block title %}addresses{% endblock %}

{% block content %}
 <div class="container">
        <div class="row center">
        <div class="col distance">
            <button type="button" class="btn btn-light height-btn data" id="email">Email</button>
            <button type="button" class="btn btn-light height-btn data" id="free_email">Known email</button>
            <button type="button" class="btn btn-light height-btn data" id="company_email">Company email</button>
        </div>
        </div>
    </div>
    <div class="input-container">
        <input id="generator" type="button" value="GENERATE">
    </div>
    <div class="input-container">
        <input id="number" type="number" placeholder="enter digit"> 
        <span>instances</span>
    </div>
{% endblock %}