{% extends 'selection.html' %}

{% block title %}addresses{% endblock %}

{% block content %}
# city, country code, state, street address
 <div class="container text-center">
        <div class="row">
        <div class="col border distance">
            <button type="button" class="btn btn-light height-btn data">Email</button>
        </div>
        </div>
    </div>
    <input id="generator" type="button" value="GENERATE"> <input id="number" type="number" placeholder="enter digit"> <span>instances</span>

{% endblock %}