  <!doctype html>
  <html lang="en">
  <head>
    <link rel="stylesheet" href="/static/styles.css"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
  <div id="content">
    <h2>Choose which data you'd go for</h2>
      {% block content %}{% endblock %}    
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      // initialize the variables
      let generate=document.querySelector("#generator")
      let selection=document.querySelectorAll(".data")
      let chosen=''
      let dateChosenStart = ''
      let dateChosenEnd = '' 
      let previousId = ''

      let num = document.getElementById('number')
      num.max = 100;

      // add event listener to the selection
      for (let index = 0; index < selection.length; index++) {         
            selection[index].addEventListener("click", (e)=>{
              if (e.srcElement.id == "start" || e.srcElement.id == "end" || e.srcElement.id == "date_between") {
                chosen="date_between"
              } else {
                chosen = e.srcElement.id 
                e.srcElement.style.backgroundColor = '#c92d9b'; 
                previousId.length > 0 ? document.querySelector("#" + previousId).style.backgroundColor = 'white' : {}   
                previousId = chosen
              }
            })
      }

      if(document.title == "Dates"){
        let start = document.querySelector('#start')
        let end = document.querySelector('#end')

        start.addEventListener('change', function () {
          dateChosenStart = this.value
        })
      
      
        end.addEventListener('change', function () {
          dateChosenEnd = this.value
        })
      }        
      
      // add event listener to the generate button
      generate.addEventListener("click", function () {
          if (chosen == "date_between" && num.value < 101) {
            dateChosenStart < dateChosenEnd ? window.location=`${chosen}/${num.value}/${dateChosenStart}/${dateChosenEnd}/` : alert('the start date goes before the end end date')
          } else if (chosen != "date_between" && num.value < 101) {
            window.location=`${chosen}/${num.value}`
          } else {
            num.value > 100 ? alert("change the value of instances") : {}
          }
      })
    </script>
  </body>
</html>